body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  color: rgba(76, 82, 82, 0.959);
  /*основной цвет текста*/
  background-color: orange;
  margin: 0;

}

.block {
  background-color: rgb(241, 240, 231);
  width: 1300px;
  height: auto;
  margin: auto;
}

span {
  /*задание части текст цвета оранжевым цветом*/
  color: orange;
}

.container-nav {
  display: flex;
  justify-content: center;
}

.item {
  /* Просто для демонстрации */
  background-color: rgb(241, 240, 231);
  color: white;
  font-size: 1.8rem;
  padding: 10px;
}

.item :hover {
  background-color:#ffcc04;
/*  font-size: 2rem;*/
  padding: 30px 0 15px 0;
  color: white;

}

.item a {
  text-decoration: none;
  color: rgba(76, 82, 82, 0.959);
}

.item2 {
  /* Просто для демонстрации */
  background-color: rgb(241, 240, 231);
  color: white;
  padding: 10px;
  list-style: none;
  line-height: 170%;
}

.item2 a {

  background: url("/skins/default/img/marker_01.png") no-repeat 0 3px;
  padding-left: 20px;
  /*отступы картинки от текста*/
  text-decoration: none;
  color: rgba(76, 82, 82, 0.959);
}

.item2 a:hover {
  text-decoration: solid;
}

.container-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.conteiner-content {
  display: flex;
  justify-content: center;
}

.conteiner-content2 {
  display: flex;
  justify-content: left;
  margin: 0 0 -16px 0;
  padding: 0 0 0 89px;
}

.conteiner-content-block {
  margin: 40px 15px;
  padding: 33px;
  width: 288px;
  background-image: url(/skins/default/img/block-1_shape.jpg);
}

.button {
  display: inline-block;
  background-image: url(/skins/default/img/button1.jpg);
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;

}

.button:hover {
  display: inline-block;
  background-image: url(/skins/default/img/button2.jpg);
  width: 100px;
  height: 40px;
 border: none;
  border-radius: 5px;

}

.conteiner-content-block2 {
  justify-content: left;
  margin: 10px 15px;
  padding: 0 0 5px;
  width: 343px;
  border-bottom-style: solid;

}

.conteiner-content-block3 {
  justify-content: left;
  margin: 10px 15px;
  padding: 0 0 5px;
  width: 693px;
  border-bottom-style: solid;
  border-color: grey;

}

.conteiner-content-block4 {
  justify-content: left;
  margin: 10px 15px;
  padding: 0 0 5px;
  width: 343px;
}


.conteiner-content3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.container-nav2 {
  display: flex;
  justify-content: left;
  margin: 10px 0 10px 97px;
  padding: 0 0 6px;
  width: 1230px;
}
.conteiner-content-block5 {
  justify-content: right;
  margin: 4px 0 10px -188px;
  padding: 0 0 5px;
  width: 603px;
}

.item3 {
  /* Просто для демонстрации */
  background-image: url(/skins/default/img/menu2_shape.jpg);
  color: white;
  font-size: 1.8rem;
  padding: 10px;
  }

.item3 :hover {
  color: rgba(165, 42, 42, 0.26);
  font-size: 1.8rem;
  /* color: rgba(76, 82, 82, 0.959);*/
}

.item3 a {
  text-decoration: none;
  color: white;
}

.conteiner-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.btn-suc {
  color:#fff;
  background-color: orange;
  border-color:#ffa500;
  text-decoration: none;
}

.btn-suc:hover {
  color: #fff;
  background-color: orange;
  border-color: #ed8f0ddb;
  text-decoration: none;
}

/*картинка для раздела товаров*/
.goods-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.goods-link a{
    text-decoration: none;
    font-weight: bold;
}
.goods-link a:hover{
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

/* ---------------------Боковая панель-------------------------*/
.sidebar {
    height: 100%;
    width: 350px;
    position: relative;
    /*z-index: 1;*/

    top: 0px;
    float: left;
/*    margin-top: 10px;
    padding-top: 10px;*/
}
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}
.body-text {
    margin-right: 350px;
    font-size: 16px;
}

/*-------------------------модальное окно:-------------------------------------*/
/*фон модального окна*/
.modal_login {
    display:none; /*в обычном состоянии МО скрыто*/
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.6);
    z-index:9998; /*размещение поверх остального контента*/
}

.modal_regin {
    display:none; /*в обычном состоянии МО скрыто*/
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.6);
    z-index:9999; /*размещение поверх остального контента*/
}

.modal_login.active {/*добавляем открытие/скрытие*/
    display:block;
}

.modal_regin.active {/*добавляем открытие/скрытие*/
    display:block;
}

.modal_login_container, .modal_regin_container {
    display:flex; /*для размещения окна по центру*/
    width:100%;
    height:100%;
}

/*модальное окно:*/
.modal_login_body {
    margin:auto;
    width:500px;
    background-color:white;
    border-radius:10px;
    text-align:center;
    padding:100px 15px 110px 15px;
    position:relative; /*выбираем relative, так как дальше буде крестик с absolut*/
}

.modal_regin_body {
    margin:auto;
    width:800px;
    background-color:white;
    border-radius:10px;
    text-align:center;
    padding:100px 15px 110px 15px;
    position:relative; /*выбираем relative, так как дальше буде крестик с absolut*/
}


.modal_login_body p, .modal_regin_body p { /*заголовок модального окна*/
    font-size:28px;
    font-family:Montserrat, serif;
    font-weight:600;
    color:black;
    margin-bottom:40px;
}

.modal_login_body input,  .modal_regin_body input { /*поле ввода модального окна*/
    display:block;
    margin:10px auto 0px;
    padding:17px 20px;
    background-color:#e5e5e5;
    border-radius:10px;
    border:none;
    font-family:Montserrat, serif;
    font-weight:500;
    font-size:18px;
    color:#605e5e;
}

.modal_login_body input { /*поле ввода модального окна*/
    width:330px;
}

.modal_regin_body input { /*поле ввода модального окна*/
    width:630px;
}

.modal_login_body input:focus, .modal_regin_body input:focus {
    outline:none; /*убираем чёрную рамку при клике на поле ввода*/
}

.modal_login_body button, .modal_regin_body button { /*кнопка модального окна*/
    cursor:pointer;
    display:block;
    width:330px;
    margin:60px auto 0px auto;
    padding:20px 0px;
    font-family:Montserrat, serif;
    font-weight:500;
    font-size:16px;
    color:#fff;
    border-radius:10px;
    border:none;
    background-color:orange;
}

/*.modal_registration_open_btn {
    cursor:pointer;
    text-decoration: none;
    display:block;
    width:330px;
    margin:60px auto 0px auto;
    padding:20px 0px;
    font-family:Montserrat, serif;
    font-weight:500;
    font-size:16px;
    color:#fff;
    border-radius:10px;
    border:none;
    background-color:orange;
}*/

.modal_authorization_close, .modal_registration_close {/*кнопка закрытия модального окна*/
    position:absolute;
    top:15px;
    right:15px;
    font-size:21px;
    cursor:pointer;
}

/*чекбокс для  авторизации*/
#autoauthconfirm {
    margin-top: 15px;
    position: relative;
    cursor: pointer;
    text-align: start;
    width: 16px;
    height: 16px;
    border: 2px solid #555555;
    border-radius: 3px;
}

/* -------------- очистка стилей -------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
