html,body{
    height: 100%;
}

.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container{
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 15px;
}
@media (max-width: 1600px) {
    .container{
        max-width: 1540px;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
}
h2{
    color: #0d6efd;
}
h4{
    color: #0d6efd;
}
.btn-suc {
    color:#fff;
    background-color: #2058e8;
    border-color:#2058e8;
    text-decoration: none;
}
.btn-suc:hover {
    color: #fff;
    background-color: #2058e8;
    border-color: #2058e8;
    text-decoration: none;
}
.more-free-space {
    padding: 15px 0 20px 0; /*отступы внутри блока*/
    margin: 15px 0 20px 0; /*отступы от блока сверху и снизу*/
    height: 100px; /*высота блока*/
}

p {
    margin-left: 50px;
}


/*
Стаса стили:*/
@charset "utf-8";

h1 {
    border-bottom: 1px solid grey;
}

.h1 {
    font-size: 2em;
    font-weight: bold;
}

/*body {
    background-color: hsl(137deg 65% 60%)
}*/

.underline {
    text-decoration: underline;
}

.menu {
    color: rgb(98, 21, 161);
    font-size: 1em;
}

.menu:hover {
    box-shadow: inset 0 0 0 23px #53ea93;
    /* создание рамки при наведении*/
    /*-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); увеличение меню при наведении*/
    font-size: 1.2em;
    /*увеличение шрифта при наведении*/
}

/*.button {
	background-color: white;
}*/
.menu .personal {
    font-size: 0.8em;
}

.menu .active {
    color: #0f0f0f;
}

/*.menu a {
	color:rgb(98, 21, 161);
}
*/
.menu>a {
    /*font-size:14px; это действие изменяет шрифт именно ссылок, а не текста внутри блока, сдругой стороны задает параметры только первых ссылок, если вложить внтри блока еще блок, то к тем ссылкам не зададутся параметры - раздокументировать, если понадобится */
    color: rgb(98, 21, 161);
}


.menu .active {
    color: black;
    cursor: crosshair;
}

a:hover {
    /* задаем действия, которые мы совершаем с ссылкой*/
    text-decoration: none;
    /* отключаем подчеркивание ссылки при наведении курсора*/
    color: red;
}


.myimg {
    width: 200px;
}

.newimg {
    width: 100%;
    max-width: 1100px;
}


.bg {
    /*настройка изображения как фона*/
    display: inline-block;
    background-image: url("img/button.png");
    width: 186px;
    height: 156px;
}

.button {
    display: inline-block;
    background-image: url("img/button.png");
    width: 186px;
    height: 52px;
    background-position: 0 0;
    border: none; /*убираем рамки*/
    background-color: transparent; /*прозрачный фон кнопки*/
    /*отображение верхней кнопки из трех*/
}

.button:hover {
    background-position: 0 -52px;
    /*отображение средней кнопки из трех - при наведении курсора */
}

.button:focus {
    background-position: 0 -104px; /*для обычных ссылок не работает - только для кнопки button*/
    /*отображение нижней кнопки из трех - при нажатии курсора */

}
/* Generated by http://css.spritegen.com CSS Sprite Generator */

.twit,
.fb,
.insta {
    display: inline-block;
    background: url('IMG/PNG.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.twit {
    background-position: -0px -0px;
    width: 169px;
    height: 167px;
}

.fb {
    background-position: -0px -167px;
    width: 168px;
    height: 168px;
}

.insta {
    background-position: -0px -335px;
    width: 168px;
    height: 168px;
}

.socweb {
    display: inline-block;
    background-image: url("img/socweb.png");
    width: 207px;
    height: 194px;
    background-position: -152px -77px;
}
.socweb:hover {
    background-position: -152px -330px;
    /*отображение средней кнопки из трех - при наведении курсора */
}

main {
    /* background-color:yellow; */
}

.block-container {
    background-color: lightgrey;
    width: 300px;
    float: left;
}

.block-title {
    background-color: #0f0f0f;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid #00b3ee;
}

.block-footer a {
    color: #990000;
    font-size: 12px;
}

/*ТАБЛИЦЫ:*/
.mytable {
    margin: 20px 0 80px;
    border-collapse: collapse;
}

.mytable td,
.mytable th {
    border: 1px solid grey;
    padding: 10px;
}

/*.mytable .red {
    background-color: #ff9090;
}

.mytable .green {
    background-color: #90ff90;
}*/

.mytable-header {
    background-color: #0d6efd;
}

/*.center {
    max-width: 970px;
    width: 100%;
    margin: auto;
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}*/

.main-nav {
    text-align: center;
}

.main-nav a {
    margin-top: -10px;
    background-color: orange;
    padding: 40px 15px 10px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-left: -4px;
}

/* Второй вариант */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

header {
    border-bottom: 1px solid grey;
    /* margin-bottom:500px; */
}

.header-col-left {
    float: left;
    width: 700px;
}

.header-col-left a {
    margin: 0 10px;
}

.header-col-right {
    float: right;
    width: 300px;
}

.zindex0 {
    position: relative;
}

.text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 50px;
}


/* Первый вариант
.clearfix2:after {
	content: "";
	display: table;
	clear: both;
} */

/*
.menu:hover {
	background-color:yellow;
}
.menu:hover a {
	font-size:20px;
}
*/


